@model Formation


<h1>@Model.Name</h1>

<div>
    <p>Adresse : @Model.Address , @Model.City</p>
    <p>@Model.Description</p>
</div>

<ul>
    @if(Model.Formations != null) 
    {
        @foreach (School formation)
        {
            <li>@formation.Name</li>
        }
    }
</ul>
}
